<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
welcome to dashboard
<ion-button (click)= "logout()">  
  logout
</ion-button>  
</ion-content>
