<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #userData ="ngForm">
<!-- <div class="form-group">
    <label>Username</label>
    <input type = "text" #nameRef="ngModel" maxlength="10" minlength="4" required class="form-control" name="name" ngModel>
    <div *ngIf= "nameRef.errors && (nameRef.touched || nameRef.dirty)" class="alert alert-danger">
          <div [hidden]="!nameRef.errors.required"> 
          Please enter a name
          </div>
       <div [hidden]="!nameRef.errors.minlength">
          Enter atleast four Char
       </div>
          <div [hidden]="!nameRef.maxlength">
            Do not exceed the length of 10char
          </div> 
    </div>
    

    </div> -->


    <div class="form-group">
        <label>Email</label>
        <input name="emailRef"  #emailRef="ngModel" required   class="form-control" email="true" ngModel>
        <div *ngIf= "emailRef.errors && (emailRef.touched || emailRef.dirty)" class="alert alert-danger">
            <div [hidden]="!emailRef.errors.required"> 
                Please enter a mail
            </div>
        </div>
        <div *ngIf="emailRef.errors?.email" class="alert alert-danger"> error </div>
    </div> 

    <div class="form-group">
      <label>Password</label>
      <input type = "password" #passRef="ngModel" required class="form-control" name="pass" ngModel>
      <div *ngIf="passRef.errors && (passRef.touched || passRef.dirty)" class="alert alert-danger">
        <div [hidden]="!passRef.errors.required">
          Password is required
        </div> 
        <div [hidden]="!passRef.errors.pattern">
          Enter Valid Password
        </div>
      </div>  
  </div> 

        <div ngModelGroup = "address" required>
            <!-- <div class="form-group">
                <label>Password</label>
                <input type = "password" #passRef="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20}" required class="form-control" name="pass" ngModel>
                <div *ngIf="passRef.errors && (passRef.touched || passRef.dirty)" class="alert alert-danger">
                  <div [hidden]="!passRef.errors.required">
                    Password is required
                  </div> 
                  <div [hidden]="!passRef.errors.pattern">
                    Enter Valid Password
                  </div>
                </div>  
            </div>  -->
    
                <!-- <div class="form-group">
                    <label>City</label>
                    <input type = "text" #cityRef required class="form-control" name="city" ngModel>
                </div>  -->
    
                    <!-- <div class="form-group">
                        <label>Postel Code</label>
                        <input type = "text"  #pcode="ngModel" minlength="6" maxlength="6" required class="form-control" name="pcode" ngModel>
                        <div *ngIf="pcode.errors && (pcode.touched || pcode.dirty)" class="alert alert-danger">
                          <div [hidden] ="!pcode.errors.required">
                              enter a postel code
                          </div>
                             <div [hidden]= "!pcode.errors.minlength">
                               Number should be 6 digit
                             </div> 
                                  <div [hidden]= "!pcode.errors.maxlength" >
                                     maxmimum length is 6 digit
                                  </div> 

                        </div> 
                    </div>  -->
        </div>  
<button [disabled]="!userData.valid" class="btn btn-primary" (click) = "onClick(userData.value)" >Submit</button>   
  </form>  
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
